<!DOCTYPE html>
<nav class="navbar navbar-inverse navbar-embossed" role="navigation">
	<div class="collapse navbar-collapse" id="navbar-collapse-01">
		<ul class="nav navbar-nav navbar-left">
			<li class="dropdown active">
				<a href="center/info#" class="dropdown-toggle" data-toggle="dropdown">管理中心 <b class="caret"></b></a> 
				<span class="dropdown-arrow"></span>
				<ul class="dropdown-menu">
					<li><a href="center/device">Android设备</a></li>
					<li><a href="center/ictDevice">iOS设备</a></li>
					<li class="divider"></li>
					<li><a href="center/cfg">配置管理</a></li>
					<li><a href="center/mm">厂商/型号管理</a></li>
					<li><a href="center/cpts">客户/项目/脚本管理</a></li>
				</ul>
			</li>
			<li><a href="ct/home">兼容测试</a></li>
			<li><a href="ict/home">iOS兼容测试</a></li>
			<li><a href="cr/home">脚本录制</a></li>
			<li><a href="cs/home">脚本测试</a></li>
			<li>
				<a href="javascript:void(0);">随机测试</a>
			</li>
			<li>
				<a href="javascript:void(0);">性能测试</a>
			</li>
			<li>
				<a href="javascript:void(0);">稳定性测试</a>
			</li>
			<li>
				<a href="javascript:void(0);">中断测试</a>
			</li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</nav>
<!-- /navbar -->