<!DOCTYPE html>
<nav class="navbar navbar-inverse navbar-embossed" role="navigation">
	<div class="collapse navbar-collapse" id="navbar-collapse-01">
		<ul class="nav navbar-nav navbar-left">
			<li>
				<a href="center/device">管理中心</a>
			</li>
			<li class="active">
				<a href="ct/home">兼容测试</a>
			</li>
			<li><a href="ict/home">iOS兼容测试</a></li>
			<li>
				<a href="cr/home">脚本录制</a>
			</li>
			<li>
				<a href="cs/home">脚本测试</a>
			</li>
			<li>
				<a href="javascript:void(0);">随机测试</a>
			</li>
			<li>
				<a href="javascript:void(0);">性能测试</a>
			</li>
			<li>
				<a href="javascript:void(0);">稳定性测试</a>
			</li>
			<li>
				<a href="javascript:void(0);">中断测试</a>
			</li>
		</ul>
	</div>
	<!-- /.navbar-collapse -->
</nav>
<!-- /navbar -->